{% extends 'base.html' %}

{% block page_title %}Password Reset Confirm Page{% endblock %}

{% block page_heading%}Reset Password{% endblock %}

{% block content %}
    <form method="post">
        <p>Please enter your password</p>

        {% csrf_token %}

        {{ form.email.errors }}

        <p>
            <label for="id_password1">Password:</label>
            {{ form.password1 }}

            <label for="id_password2">Password Confirm:</label>
            {{ form.password2 }}

            <button>Reset Password</button>
        </p>
    </form>
{% endblock %}